{% extends 'students/base.html' %}{% load static %} {% block content %}
<div class="details">
  <h1>Our Staffs are our pride</h1>
  <table style="width: 100%">
    <tr>
      <th><h3>id</h3></th>
      <th><h3>Name</h3></th>
      <th><h3>Email</h3></th>
      <th><h3>Pic</h3></th>
      <th><h3>Address</h3></th>
      <th><h3>Usertype</h3></th>
    </tr>
    {% for i in alluserdetails %}
    <tr>
      <td><h5>{{i.id}}</h5></td>
      <td><h5>{{i.fname}}</h5></td>
      <td><h5>{{i.email}}</h5></td>
      <td>
        <img src="{{i.profile_pic.url}}" alt="" height="50%" width="50%" />
      </td>
      <td><h5>{{i.address}}</h5></td>
      <td><h5>{{i.usertype}}</h5></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}
