{% extends 'students/base.html' %}{% load static %} {% block content %}
<div class="details">
  <h1>Our students are our pride</h1>
  <table style="width: 100%">
    <tr>
      <th><h3>Student id</h3></th>
      <th><h3>Student Name</h3></th>
      <th><h3>student Email</h3></th>
      <th><h3>Profile Pic</h3></th>
      <th><h3>Address</h3></th>
    </tr>
    {% for i in studetails %}
    <tr>
      <td><h5>{{i.id}}</h5></td>
      <td><h5>{{i.stu_name}}</h5></td>
      <td><h5>{{i.stu_email}}</h5></td>
      <td>
        <img src="{{i.stu_profilepic.url}}" alt="" height="50%" width="50%" />
      </td>
      <td><h5>{{i.stu_address}}</h5></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}
